
้.h-250{
    height: 250px;
}
.h-60{
    height: 60px;
}

.list-sidebar-style1 {
    background-color: #fff;
    padding: 30px;
    position: relative;
    -webkit-box-shadow: 0px 1px 4px rgba(24,26,32,.07);
    -o-box-shadow: 0px 1px 4px rgba(24,26,32,.07);
    box-shadow: 0 1px 4px #181a2012;
    border-radius: 12px;
    margin-bottom: 30px
}
