.content-map{
    width: 100%;
    height: 550px;
    border: none;
    position:absolute;
}

.cardBox{
    border-radius: 15px !important;
    border: 1px solid #dddd !important;
}


@media (max-width: 769px) {
    .content-map {
        position: relative;
    }
    .cardBox{
      border:0 !important;
    }
    .icon-lg{
        width: 75% !important;
    }
    /* .section-120{
      padding: 30px 0 !important;
      position: relative !important;
    } */

    .section-160{
      padding: 140px 0;
      position: relative;
    }

    .button-contact{
      padding: 5px !important;
      width: 100%;
    }

  }

  @media (max-width: 425px) {
    .icon-sm{
      width: 65% !important;
    }
  }

  .icon-xl{
    width: 45%;
  }

  /* .section-120{
    padding: 120px 0;
    position: relative;
  } */


.background-grey{
    background-color: #f7f7f7;
}

.background-transparent{
    background-color: transparent !important;
    border: 0 !important;
}

  
  .cards-effect:hover {
    box-shadow: 0 4px 10px rgba(0,0,0,0.16), 0 4px 10px rgba(0,0,0,0.23);
  }

  .link-effect:hover{
    color: blue;
  }
 
  .h-250{
    height: 250px;
  }

  .button-contact{
    margin-bottom: 15px;
    padding: 20px;
  }

  /* ปุ่มวงรี */
  

  @media (max-width: 339px) {
     .radius-button {
        padding:13px 25px
    }
  }


  .radius-button {
  border-radius: 12px;
  display: inline-block;
  /* font-family: var(--title-font-family); */
  font-weight: 600;
  font-size: 15px;
  font-style: normal;
  letter-spacing: 0em;
  padding: 13px 30px;
  position: relative;
  overflow: hidden;
  text-align: center;
  z-index: 0;
  -webkit-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease
}

.radius-button i {
  /* margin-left: 10px; */
  font-size: 16px !important;
}

@media (max-width: 575.98px) {
  .radius-button {
      width:100%
  }
}

.radius-button{
  border-radius: 0;
  position: absolute;
  right: 30px;
  top: 30px
}

@media (max-width: 767.98px) {
  .radius-button {
      position:relative;
      right: auto;
      top: 15px
  }
}

.radius-button {
  transform: scale(1, 1) !important;
}

.border-danger {
  border-color: #dc3545 !important;
}