[role=button] {
    cursor: pointer
}

[list]:not([type=date]):not([type=datetime-local]):not([type=month]):not([type=week]):not([type=time])::-webkit-calendar-picker-indicator {
    display: none!important
}

.form-control-ap {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

@media (prefers-reduced-motion:reduce) {
    .form-control-ap {
        transition: none
    }
}

.form-control-ap[type=file] {
    overflow: hidden
}

.form-control-ap[type=file]:not(:disabled):not([readonly]) {
    cursor: pointer
}

.form-control-ap::-webkit-date-and-time-value {
    min-width: 85px;
    height: 1.5em;
    margin: 0
}

.form-control-ap::-webkit-datetime-edit {
    display: block;
    padding: 0
}

.form-control-ap::-moz-placeholder {
    color: rgba(33, 37, 41, .75);
    opacity: 1
}

.form-control-ap::placeholder {
    color: rgba(33, 37, 41, .75);
    opacity: 1
}

.form-control-ap:disabled {
    background-color: #e9ecef;
    opacity: 1
}

.form-control-ap::-webkit-file-upload-button {
    padding: .375rem .75rem;
    margin: -.375rem -.75rem;
    -webkit-margin-end: .75rem;
    margin-inline-end:.75rem;color: #000000;
    background-color: #f8f9fa;
    pointer-events: none;
    border-color: inherit;
    border-style: solid;
    border-width: 0;
    border-inline-end-width:1px;border-radius: 0;
    -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out
}

.form-control-ap::file-selector-button {
    padding: .375rem .75rem;
    margin: -.375rem -.75rem;
    -webkit-margin-end: .75rem;
    margin-inline-end:.75rem;color: #000000;
    background-color: #f8f9fa;
    pointer-events: none;
    border-color: inherit;
    border-style: solid;
    border-width: 0;
    border-inline-end-width:1px;border-radius: 0;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out
}

@media (prefers-reduced-motion:reduce) {
    .form-control-ap::-webkit-file-upload-button {
        -webkit-transition: none;
        transition: none
    }

    .form-control-ap::file-selector-button {
        transition: none
    }
}

.form-control-ap:hover:not(:disabled):not([readonly])::-webkit-file-upload-button {
    background-color: #e9ecef;
}

.form-control-ap:hover:not(:disabled):not([readonly])::file-selector-button {
    background-color: #e9ecef;
}

textarea.form-control-ap {
    min-height: calc(1.5em + .75rem + calc(1px * 2))
}

.nav-link-ap {
    display: block;
    padding: .5rem 1rem;
    text-decoration: none;
    background: 0 0;
    border: 0;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out
}

@media (prefers-reduced-motion:reduce) {
    .nav-link-ap {
        transition: none
    }
}

.nav-link-ap:focus-visible {
    outline: 0;
    box-shadow: 0 0 0 .25rem #0d6efd40
}

.nav-link-ap:disabled {
    pointer-events: none;
    cursor: default
}

@keyframes placeholder-glow {
    50% {
        opacity: .2
    }
}

@keyframes placeholder-wave {
    to {
        -webkit-mask-position: -200% 0%;
        mask-position: -200% 0%
    }
}

@media (max-width: 991.98px) {

    .pr-d-0-md {
        padding-right: 0!important
    }

    .pl-d-0-md {
        padding-left: 0!important
    }
}
/* ต่อ */
.dashboard_sidebar_list .sidebar_list_item a:hover,.dashboard_sidebar_list .sidebar_list_item a:active,.dashboard_sidebar_list .sidebar_list_item a:focus,.dashboard_sidebar_list .sidebar_list_item a.-is-active {
    background-color: #181a20;
    color: #fff
}

.dashboard_sidebar_list .sidebar_list_item a {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 12px;
    color: #000000;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    padding: 14.5px 20px;
    margin-bottom: 5px;
}

.dashboard_sidebar_list .sidebar_list_item a i {
    font-size: 20px
}

.dashboard.dsh_board_sidebar_hidden .dashboard__sidebar {
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translate(-100%)
}

@media (max-width: 991.98px) {
    .dashboard.dsh_board_sidebar_hidden .dashboard__sidebar {
        -webkit-transform:translateX(0);
        -ms-transform: translateX(0);
        transform: translate(0)
    }
}

.dashboard.dsh_board_sidebar_hidden .dashboard__main {
    padding-left: 0
}

@media (max-width: 991.98px) {
    .dashboard.dsh_board_sidebar_hidden .dashboard__main:after {
        background-color:#041e4280;
        content: "";
        bottom: 0;
        left: 0;
        opacity: 1;
        position: fixed;
        right: 0;
        top: 0;
        z-index: 0;
        pointer-events: auto;
    }
}

.dashboard .dashboard__sidebar {
    will-change: transform;
    -webkit-transition: all .6s cubic-bezier(.215,.61,.355,1);
    -o-transition: all .6s cubic-bezier(.215,.61,.355,1);
    transition: all .6s cubic-bezier(.215,.61,.355,1);
    z-index: 9
}

@media (max-width: 991.98px) {
    .dashboard .dashboard__sidebar {
        -webkit-transform:translateX(-100%);
        -ms-transform: translateX(-100%);
        transform: translate(-100%)
    }
}

.dashboard__sidebar {
    background-color: #fff;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    height: calc(100% - 87px);
    left: 0;
    /* margin-top: 87px; เปลี่ยนเป็นtop:87*/
    top: 87px;
    overflow-y: scroll;
    padding: 60px 30px 40px;
    position: fixed;
    width: 300px
}

.dashboard__sidebar::-webkit-scrollbar {
    height: 4px;
    width: 4px
}

.dashboard__sidebar::-webkit-scrollbar-thumb {
    background-color: #2125294d;
    border-radius: 12px
}

.dashboard .dashboard__main {
    will-change: padding-left;
    -webkit-transition: all .6s cubic-bezier(.215,.61,.355,1);
    -o-transition: all .6s cubic-bezier(.215,.61,.355,1);
    transition: all .6s cubic-bezier(.215,.61,.355,1)
}

.dashboard__main {
    margin-top: 87px;
    padding-left: 300px;
    width: 100%
}

@media (max-width: 991.98px) {
    .dashboard__main {
        margin-top:0
    }
}

.dashboard__content {
    border-radius: 16px;
    padding: 60px 60px 20px;
    width: 100%
}

@media (max-width: 767.98px) {
    .dashboard__content {
        padding:40px 30px
    }
}

@media (max-width: 1199.98px) {
    .dashboard__content.property-page {
        padding:60px 30px 20px
    }
}

.dashboard_title_area {
    position: relative
}

.form-style1 {
    position: relative
}

.form-style1 .form-control-ap {
    border-radius: 8px;
    border: 1px solid #dddddd;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 14px;
    height: 55px;
    outline: none;
    padding-left: 15px
}

.form-style1 .form-control-ap::-webkit-input-placeholder {
    color: #717171;
    font-family: "Poppins", sans-serif;
}

.form-style1 .form-control-ap::-moz-placeholder {
    color: #717171;
    font-family: "Poppins", sans-serif;
}

.form-style1 .form-control-ap:-ms-input-placeholder {
    color: #717171;
    font-family: "Poppins", sans-serif;
}

.form-style1 .form-control-ap::-ms-input-placeholder {
    color: #717171;
    font-family: "Poppins", sans-serif;
}

.form-style1 .form-control-ap::placeholder {
    color: #717171;
    font-family: "Poppins", sans-serif;
}

.form-style1 .form-control-ap.active,.form-style1 .form-control-ap:focus {
    border: 1px solid transparent;
    outline: 2px solid #000000;
    color: #000000
}

.form-style1 .checkbox-ap {
    line-height: 26px
}

.form-style1 .checkbox-ap .checkmark {
    top: 7px
}

 .textbox-ap {
    border: 1px solid #dddddd;
    border-radius: 8px;
    font-family: "Poppins", sans-serif;
    height: auto;
    width: 100%;
    padding: 25px 20px
}

/* checkbox  */
.checkbox-style1 {
    position: relative
}

.checkbox-ap {
    display: block;
    cursor: pointer;
    font-size: 15px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0em;
    position: relative;
    padding-left: 28px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}
@media (max-width: 1025px) and (min-width: 769px){

    .checkbox-ap {
        font-size: 13px;
    }
}
.checkbox-ap input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0
}

.checkbox-ap input:checked~.checkmark {
    background-color: #041e42
}

.checkbox-ap .checkmark {
    border: 1px solid #041e42;
    border-radius: 4px;
    position: absolute;
    top: 10px;
    left: 0;
    height: 16px;
    width: 16px
}

.checkbox-ap .checkmark:after {
    content: "";
    position: absolute;
    left: 5px;
    top: 2px;
    width: 5px;
    height: 8px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg)
}

.navtab-style1 {
    position: relative
}

.navtab-style1 .nav-tabs {
    border-bottom: 1px solid #dddddd;
    -webkit-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease
}

.navtab-style1 .nav-link-ap {
    border-color: transparent;
    border: 2px solid transparent;
    color: #717171;
    font-family: "Poppins", sans-serif;
    -webkit-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease
}

.navtab-style1 .nav-link-ap:focus,.navtab-style1 .nav-link-ap:hover,.navtab-style1 .nav-link-ap.active {
    border-color: transparent;
    border-bottom: 2px solid #000000;
    color: #181a20
}

input:focus-visible {
    border: 2px solid #dddddd
}


.location-area {
    position: relative
}

.location-area .btn {
    background-color: #fff;
    border: 1px solid #dddddd;
    border-radius: 8px;
    height: 50px;
    line-height: 35px;
    padding-left: 15px
}

.location-area .btn:before,.location-area .btn:after {
    display: none
}

.ff-heading {
    font-family: "Poppins", sans-serif;
}

.bdrs-12 {
    border-radius: 12px
}

.text-ap {
    color: #000000;
    font-family: "Poppins", sans-serif;
    font-weight: 400
}

.default-box-shadow2 {
    -webkit-box-shadow: 0px 1px 4px rgba(24,26,32,.07);
    -o-box-shadow: 0px 1px 4px rgba(24,26,32,.07);
    box-shadow: 0 1px 4px #181a2012
}

.nav-tabs .nav-link-ap {
    margin-bottom: 10px;
}

.dropdown-menu {
    border: none
}

.select-custom {
    width: 100%
}

.select-custom .select__control {
    border-radius: 8px;
    border: 1px solid #dddddd;
    -webkit-box-shadow: none;
    box-shadow: none;
    min-height: 55px;
    outline: none;
    padding-left: 15px
}

.select-custom .select__control:hover {
    border-color: #ddd
}

.select-custom .select__indicator-separator {
    background-color: #ddd
}

.select-custom.pl-0 .select__control {
    padding-left: 7px
}

#map iframe {
    height: 100%
}
/* ______________________________________________ */

.dashboard {
    /* display: flex */
    display: grid
}

/* กรณีใช้ Select2 */
.select2-container--default .select2-selection--multiple  {
    display: block;
    width: 100%;
    /* padding: .375rem .75rem; */
    /* height: 38px ; */
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #000000;
    background-color: #fff;
    background-clip: padding-box;
}

.dashboard-navigation .dropbtn:hover, .dashboard-navigation .dropbtn:focus {
    background-color: #fff;
    color: #181a20;
    border: none;
    cursor: pointer;
    outline: none;
}

.dashboard-navigation .dropbtn {
    background-color: #fff;
    color: #181a20;
    border: none;
    border-radius: 5px;
    display: block;
    font-size: 14px;
    height: 70px;
    margin-bottom: 10px;
    outline: none;
    padding: 20px 30px;
    position: relative;
    text-align: left;
    -webkit-box-shadow: 0px 1px 4px rgba(24,26,32,.07);
    -o-box-shadow: 0px 1px 4px rgba(24,26,32,.07);
    box-shadow: 0 1px 4px #181a2012;
    width: 100%;
}

.dashboard-navigation .dropdown-content a.-is-active {
    background-color: #181a20;
    color: #fff
}

.dashboard-navigation .dropbtn i {
    font-size: 16px
}

.dashboard-navigation .dropbtn:hover,.dashboard-navigation .dropbtn:focus {
    background-color: #fff;
    color: #181a20;
    border: none;
    cursor: pointer;
    outline: none
}

.dashboard-navigation .dropdown {
    position: relative
}

.dashboard-navigation .dropdown-content {
    -webkit-box-shadow: none;
    box-shadow: none;
    display: none;
    height: auto;
    min-width: 160px;
    overflow: auto;
    position: absolute;
    top: 0
}

.dashboard-navigation .dropdown-content a {
    color: #000;
    padding: 10px 30px;
    text-decoration: none;
    display: block
}

.dashboard-navigation .dropdown-content li {
    height: 50px;
    line-height: 30px;
    padding-left: 0;
    position: relative
}

.dashboard-navigation .dropdown-content li a {
    font-size: 14px;
    color: #181a20
}

.dashboard-navigation .dropdown-content li a span {
    font-size: 18px;
    padding-right: 10px;
    vertical-align: middle
}

.dashboard-navigation .dropdown-content li.active a {
    background-color: #181a20;
    color: #fff
}

.dashboard-navigation .dropdown a:hover {
    color: #0071bc
}

.dashboard-navigation .show {
    background-color: #fff;
    border-radius: 12px;
    display: block;
    -webkit-animation: fadein 2s;
    animation: fadein 1s;
    overflow: hidden;
    padding: 15px 0;
    position: relative;
    min-height: auto;
    min-width: auto;
    -webkit-box-shadow: 0px 1px 4px rgba(24,26,32,.07);
    -o-box-shadow: 0px 1px 4px rgba(24,26,32,.07);
    box-shadow: 0 1px 4px #181a2012;
    width: 100%
}

.dashboard-navigation {
    margin-bottom: 30px
}
@media (max-width: 321px) {
    .dashboard-navigation {
        font-size: 13px;
    }
    .dashboard-navigation-header {
        font-size: 11.5px;
    }
}
.dropbtn a:hover,
    .dropbtn a:active {
        color: inherit;
        text-decoration: none;
    }


@media (min-width: 992px) {
    .d-side-block {
        display: block!important;
    }
}
@media (max-width: 992px) {
    .d-side-block {
        display: none!important;
    }
}

@media (min-width: 1024px) {
    .d-nav-none {
        display: none!important;
    }

}

.row-ap {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: 1.5rem * .5;
    padding-left: 5rem * .5;
    margin-top: 0px;
    display: flex;
}

@media (max-width: 1025px) {
    .col-6-dt {
        flex: 0 0 auto;
        max-width: 50%!important
        }
}

.fs-mp-h {
    font-size: 22px!important
  }
.fs-mp {
    font-size: 14px!important
  }
@media (max-width: 1025px){
    .fs-mp-h {
        font-size: 18px!important
      }
    .fs-mp {
        font-size: 13px!important
      }
    .lh-15 {
        line-height: 1.5!important
      }
}

input[type="file"].form-control {
    font-size: 16px;
    color: #333;
    width: 100%;
    height: 100%;
    padding: 10px 15px;
}

input[type="submit"] {

    color: rgb(4, 4, 4);
    padding: 10px 15px;
    border: none;
    border-radius: 5px;

}

/* CKEditor */

.ck-editor {
    width: 100% !important;
}
.ck-editor__editable {
    height: 200px;
}

@media (max-width: 1025px) and (min-width: 769px){

    .ck-editor {
        width: 514px !important;
    }
}
@media (max-width: 769px) and (min-width: 426px){

    .ck-editor {
        width: 528px !important;
    }
}
@media (max-width: 426px) and (min-width: 376px){

    .ck-editor {
        width: 345px !important;
    }
}
@media (max-width: 376px) and (min-width: 321px){

    .ck-editor {
        width: 295px !important;
    }
}
@media (max-width: 320px) {

    .ck-editor {
        width: 240px !important;
    }
}

.tab-content-ds>.tab-pane {
    display: none
  }

  .tab-content-ds>.active {
    display: block
  }

  .tab-content-ds {
    padding: 30px;
    box-shadow: 0 0 10px 0 rgba(51,51,51,.1);
    border-radius: 0 .3125rem .3125rem .3125rem
  }

@media (max-width: 426px) {

    .tab-content-ds {
        padding: 0px !important ;
    }
    .p-d-30 {
        padding: 10px!important;
    }
}

.clearButton{
    display: block;
    width: 100%;
    height: 38px;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;

}

.upload-button {
    color: #ffffff;
    background-color: #0071bc !important;
    background-position: 100% !important;
    background-size: 400% !important;
    transition-duration: 1.5s !important;
    text-align: center;
    vertical-align: middle;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
}

.fs-dt{
    font-size: 14px!important
  }
@media(max-width: 426px) {
.fs-dt{
    font-size: 13px!important
  }
}
@media(max-width: 426px) {
.ms-3 {
    margin-left: 0rem!important
}
}
.items-center-db{
    font-size: 14px;
    align-items: center;
}

.bg-f7 {
    background-color: #f7f7f7
}
