/* ---------------------------- ส่วน gird-list box  ------------------------------------------ */



.list-sidebar-style1 {
    padding-top: 10px;
    background-color: #fff;
    border-radius: 12px;
}

.text-block {
    /* height: 35px; */
    border-radius: 10px;
    margin-left: 10px;
    position: absolute;
    margin-top: 195px;
    background-color: white;
    color: black;
    width: 90px;
    z-index: 1;
}

.text-list {
    /* height: 35px; */
    border-radius: 10px;
    margin-left: 10px;
    position: absolute;
    margin-top: 160px;
    background-color: white;
    color: black;
    width: 70px;
    z-index: 1;

}

.block-text {
    /* height: 30px; */
    border-radius: 10px;
    margin-left: 10px;
    position: absolute;
    margin-top: 10px;
    background-color: #0071bc;
    color: white;
    width: 90px;
    z-index: 1;
}

.block-list {
    height: 35px;
    border-radius: 10px;
    margin-left: 25px;
    position: absolute;
    margin-top: 10px;
    background-color: #0071bc;
    color: rgb(255, 255, 255);
    width: 100px;
}

.font-label {
    font-size: 13px;
}

.img-block {
    overflow: hidden;
}

.img-sell {
    position: relative;
    height: 230px;
}

.img-sell:hover {
    transition: transform 0.4s ease;
    transform: scale(1.1) rotate(-1deg);
}

.img-list{
  position: relative;
  height: 200px;
}

.img-list:hover {
  transition: transform 0.4s ease;
  transform: scale(1.1) rotate(-1deg);
}

/* .block-text:hover{
    transition: transform 0.4s ease, opacity 0.4s ease;
    transform: translateY(100%);
    opacity: 0;
  } */

/* ---------------------------- ส่วน ปุ่มค้นหา ------------------------------------------ */

.search_area {
    position: relative;
}

.search_area .form-control-text {
    padding-left: 42px;
}

.search_area span {
    font-size: 18px;
    left: 12px;
    position: absolute;
    top: 5px;
}



/* ---------------------------- ส่วน checkbox ------------------------------------------ */

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #0071bc;
}

/* ---------------------------- ส่วน radio ------------------------------------------ */

.price-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 10px;
}


/* ---------------------------- ส่วน Bedrooms ------------------------------------------ */

.selection:first-child label {
    border-radius: 12px 0 0 12px;
}

.selection:last-child label {
    border-radius: 0 12px 12px 0;
}

.selection label {
    background-color: #fff;
    border: 2px solid transparent;
    cursor: pointer;
    display: inline-block;
    color: #080808;
    font-weight: 600;
    font-size: 13px;
    outline: 1px solid #dddddd;
    margin-right: 1px;
    padding: 7px 12px;
}

.selection input[type="radio"] {
    display: none;
}

.selection input[type="radio"]:checked ~ label {
    border: 2px solid #0071bc !important;
    /* outlinie: transparent; */
    z-index: 1;
}

/* ----------------------------ปรับขนาดและสีต่างๆ------------------------------------------ */

.text-whiter{
    color: white;
}
.font-style {
    /* margin-left: 10px; */
    font-size: 13px;
    font-weight: 500;
}

.h-250 {
    height: 250px;
}
.h-60 {
    height: 60px;
}

.p-10 {
    padding: 10px;
}

.mr-165 {
    margin-right: 165px;
}


.font-weight-700{
    font-weight: 700;
}

.font-weight-500{
    font-weight: 500;
}

.font-weight-600{
    font-weight: 600;
}

.red:hover{
    color: red;
}

.blue:hover{
    color: #0071bc;
}

.green:hover{
    color: green;
}

.background-white{
    background-color: white;
}

.box-shadow{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.box-shadow-lightblue{
    box-shadow: 5px 5px 5px rgba(41, 41, 41, 0.226);

}

.pb-auto{
    padding-bottom: auto;
}

.pt-auto{
padding-top: auto;
}














/* side-bar-mobile */
.sidebar {
    z-index: 1000 !important; /* ค่า z-index ที่มากกว่าทุกองค์ประกอบที่อยู่ในหน้าเว็บ */
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0; /* Change right to left */
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 0px;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    /* font-size: 18px; */
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    left: 195px; /* Change right to left */
    font-size: 30px;
    margin-left: 50px;
}

element.style {
    padding-top: 33px !important;
}

.mobile {
    margin-right: 1rem;
    padding-left: 11px;
    padding-top: 5px;
    height: 30px;
    width: 100px;
    background-color: #0071bc;
    color: #fff;
    border-radius: 30px;
    font-size: 13px;
}


.color-border{
border-color: black;
}

/* ขนาดจอ PC */
@media  (max-width: 1020px) {
  .mobile-laptop {
    display: none;
  }
  .mobile-media {
    display: none;
  }

}

@media  (min-width: 769px) {
  .list-mobile {
    display: none;
  }
  .mobile-media {
    display: none;
  }
}

@media (max-width: 769px) and (min-width: 320px){

    .list-mobile {
        display: block;
      }
      .mobile-media {
        display: block;
      }
      .grid-mobile {
        display: none;
      }
}


@media (max-width: 426px) and (min-width: 300px){

    .list-mobile {
        display: none;
      }
      .mobile-media {
        display: block;
      }
      .grid-mobile {
        display: block;
      }
}

@media  (max-width: 2561px) and (min-width: 1020px) {
    .grid-mobile {
      display: none;
    }
    .mobile-media {
        display: none;
      }

  }


/* ดึงมา */
.pcs_dropdown .form-select {
    border: none;
    font-size: 15px;
    background-color: transparent;
}

.border-right {
    border-right: 1px solid #dddddd;
}

.border-left {
    border-left: 1px solid #dddddd;
}


/* .select2-container--default .select2-selection--multiple .select2-selection__choice {
    background: #0071bc;
    border-color: #0071bc;
    font-size: 14px;
    color: #fff;
    padding: 2px 10px;
  }
.select2-container--default .select2-selection--multiple .select2-selection__choice .select2-selection__choice__remove {
    color: rgb(248, 248, 248);
    margin-right: 10px;
} */

.select2-container{
    width: 100% !important;
}
